.dashboard {
font-family: Helvetica;
min-height: 100vh;
min-width: 100%;
background-color: black;
font-family: sans-serif;
padding-bottom: 30px;
color:rgb(53, 56, 57);
display: flex;
flex-wrap: wrap;
}

.dashboard-nav {
  display: flex;
  justify-content: space-around;
  height: 20px;
}


.dashboard h1 {
  padding-top: 50px;
  margin-left: 50px;
  padding-bottom: 50px;
  color: white;
  opacity: 0.8;
}

#empty-dashboard {
  color: white;
  opacity: 0.8;
  margin-top: 40vh;
  margin-left: 10%;
}
.favourite-dashboard {
  margin: 20px 20px 20px 20px;
  width: 700px;
  padding: 10px;
  display: flex;
  align-items: flex-center;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  color: white;
}

.dashboard-photo {
  width: 350px;
  object-fit: contain;
  margin-right: 10px;
}


.dashboard img{
  width: 350px;
  height: 175px;
  object-fit: fill;
}

.dashboard-text {
  p {
    margin-bottom: 0
  }
}

#favourite-name {
  margin-bottom: 10px;
  margin-top: 7px;
  word-break: break-word;
  white-space: pre-wrap;
  -moz-white-space: pre-wrap;
}

.inside-cards-dashboard {
  margin-left: 10px;
}

.dasboard-heart-link {
  display: flex;
  flex-grow: 1;
  object-fit: contain;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.fa-heart {
  bottom: 0;
  right: 0;
  color: white;
  padding: 8px;
}

.fa-external-link-alt {
  padding: 8px;
  color: white;
}



#favourite-date {
  margin-bottom: 5px;
}

#dashboard-scroll {
}
