.dashboard {
background-image:url("https://res.cloudinary.com/rahulsuvarna18/image/upload/v1566200904/Fire%20Events/wordpress-radio-theme-0032_m18wit.jpg");
background-repeat:repeat-x;
background-attachment:fixed;
background-position: left top;
width: auto;
margin:0;
font-family: Helvetica;
}

.favourite-dashboard {
  margin: 20px 20px 20px 20px;
  width: 700px;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-center;
  position: relative;
  background-color: white;
}

.favourite-dashboard:hover {
box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.16);
}

.dashboard-photo {
  width: 200px;
  object-fit: contain;
}

.dashboard-photo img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.dashboard-text {
  p {
    margin-bottom: 0
  }
}

#favourite-name {
  margin-bottom: 10px;
  margin-top: 7px;
}

.inside-cards-dashboard {
  margin-left: 10px;
}

.dasboard-heart-link {
  display: flex;
  flex-grow: 1;
  object-fit: contain;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.fa-heart {
  bottom: 0;
  right: 0;
  color: red;
  padding: 8px;
}

.fa-heart:hover {
  color:red;
  background-color: rgb(248, 247, 250);
  border-radius: 50%;
}

.fa-external-link-alt {
  padding: 8px;
}

.fa-external-link-alt:hover {
  background-color: rgb(248, 247, 250);
  border-radius: 50%;
}

#favourite-date {
  margin-bottom: 5px;
}
