.favourite-dashboard {
  margin: 20px 20px 20px 20px;
  border: solid;
}

.favourite-name {
  margin-bottom: 10px;
}

.inside-cards-dashboard {
  margin-left: 10px;
}

#favourite-name {
  color: red;
}
