// Specific CSS for your home-page
.home-content {
  height: 100%;
}

.home-search {
  top: 310px;
  right: 450px;

}

.logo {
  top: 20px;
}

.btn-red-index {
  color: red;
  &:hover {
    color: rgba(255, 0, 0, .5);
  }
}
