// Import page-specific CSS files here.
@import "home";

.results {
  width: 50vh;
}

.card p {
  text-align: center;
}

table{
  height:auto;
}

#scrollingTable, #headerArea {
  float:left;width:100%;
}

#scrollingTable {
  height:100vh;
}
