// Import page-specific CSS files here.
@import "home";

.results {
  width: 50vh;
}

.card p {
  text-align: center;
}

table{
  height:auto;
}

#scrollingTable, #headerArea {
  float:left;width:100%;
}

#scrollingTable {
  height:89vh;
  background-color: #212121;
}

.center-container{
  padding:0px;
  margin:0px;
  border-color: #212121;
}

#hide_cards{
  color: white;
  background-color: #212121;
  border-color: #212121;
}

#show_cards{
  color: white;
  background-color: #212121;
  border-color: #212121;
}

#toggle_markers_hide{
  display:none;
}
