<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/rahulsuvarna18/image/upload/v1565771990/Fire%20Events/Party_XL-870x400_jdhnfx.jpg);">
  <div class="container">
    <h1><strong>Find the best events nearby you with Fire Events </strong>!</h1>
    <p></p>
    <a class="btn btn-primary" href="#">Find your event</a>
  </div>
</div>
