<div id="carouselExampleControls" class="carousel slide" data-pause="false" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="dimension" src="https://res.cloudinary.com/rahulsuvarna18/image/upload/v1566353796/action-active-audience-2466341_lmebc6.jpg" alt="First slide">

    </div>
    <div class="carousel-item">
      <img class="dimension" src="https://res.cloudinary.com/rahulsuvarna18/image/upload/v1566353757/audience-band-celebration-1190298_cklxuh.jpg" alt="Second slide">

    </div>
    <div class="carousel-item">
      <img class="dimension" src="https://res.cloudinary.com/rahulsuvarna18/image/upload/v1566353769/audience-band-celebration-2034851_fdxqq2.jpg" alt="Third slide">

    </div>
    <div class="carousel-item">
      <img class="dimension" src="https://res.cloudinary.com/rahulsuvarna18/image/upload/v1566353783/audience-band-celebration-1983046_eyplfo.jpg" alt="Fourth slide">

    </div>
    <div class="carousel-item">
      <img class="dimension" src="https://res.cloudinary.com/rahulsuvarna18/image/upload/v1566354501/audience-backlit-band-154147_vwl9ve.jpg" alt="Fifth slide">

    </div>

  </div>
</div>
