<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/rahulsuvarna18/fire-events/commits?author=jackculpan"><i class="fab fa-github"></i></a>
    <a href="https://www.instagram.com/jackculpan/?hl=en"><i class="fab fa-instagram"></i></a>
    <a href="https://www.facebook.com/JackCulpan"><i class="fab fa-facebook"></i></a>
    <a href="https://twitter.com/jackculpan?lang=fr"><i class="fab fa-twitter"></i></a>
    <a href="https://www.linkedin.com/in/jackculpan/detail/recent-activity/posts/"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    This footer is made with <i class="fas fa-heart"></i> at Fire Events
  </div>
</div>
