<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<form method ="get" action="/events">
  Location:<br>
  <input type="text" name="location" value=""><br>
    <button type="submit" >Search</button>
</form>
