<div class="home-content">
  <%= render 'shared/navbar' %>
  <div class="home-search">
    <div class="logo">
      <%= render "shared/logo" %>
    </div>
    <%= render "shared/search" %>
  </div>
    <%= render "shared/carousel" %>
</div>


