.card-category {
  background-size: cover;
  background-position: center;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-category-popup {
  background-size: cover;
  background-position: center;
  height: 100%;

}

.popup-text {
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);

}

.highlight {
-webkit-box-shadow: 1px 3px 11px 14px rgba(238,102,49,0.88);
-moz-box-shadow: 1px 3px 11px 14px rgba(238,102,49,0.88);
box-shadow: 1px 3px 11px 14px rgba(238,102,49,0.88);
}

.flip-card {
 a {
  color: white !important;
  &:hover {
    text-decoration: none;
  }
 }
}

