.mapbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #212121;
  padding:15px;
  // box-shadow: 0 2px 6px rgba(0,0,0,0.08);
  // border: 1px solid #E7E7E7;
}

.dropdown-menu{
  width:200px;
}

.dropdown-item {
  font: sans-serif;
  color: rgb(238, 102, 48);
  background-color: rgb(54, 69, 79);
}

.dropdown-item:hover {
  font: sans-serif;
  color:rgb(238, 102, 48);
  background-color: rgb(54, 69, 79);
}

.dropdown-menu.show {
  background-color: rgb(54, 69, 79);
}


.popup-link-map{
  color: black;
  font-weight: bolder;
  &:hover{
    text-decoration: none;
    color:black;
  }
  p{
    margin: 0px;
    opacity: 0.6;
    &:hover{
      opacity: 1;
    }

  }
}
