.mapbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #212121;
  padding:15px;
  // box-shadow: 0 2px 6px rgba(0,0,0,0.08);
  // border: 1px solid #E7E7E7;
}

.dropdown-menu{
  width:200px;
}
