

.ap-icon-pin {
  display: none;
}

.home-search {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 435px;
  left: 395px;
  z-index: 1;


}

.home-search-form-control {
  position: relative;
  width: 70vh;
  text-align:center;
  color:white
}

.form-control{
  text-align:center;
  top: 109px;
}

.home-search-form-control {
  position: relative;
}

.home-search-form-control .btn {
  position: absolute;
  top: 115px;
  bottom: 8px;
  right: 8px;
  background-size: 40px 40px;
  background-repeat: no-repeat;
}

.home-search-form-control .form-control {
  height: 3.5rem;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
  border: 1px solid #212121;
  font-weight: bold;
  border-radius: 50px;
  background-color: #212121;
  opacity: 0.7;
  color: white;

}

 .btn {
 color: #EE6631;

}

.search-form-control .form-control {
  margin-bottom: 0rem;
  // width: 50vh;
}

.index-search {
  border-radius:14px;
  background-clip: border-box;
  background-color: #36454f;
  color: #EE6631;
}


