.solid-navbar-lewagon {
  justify-content: space-between;
  background-color: white;
}

.solid-navbar-lewagon .solid-navbar-collapse {
  flex-grow: 0;
}

.solid-navbar-lewagon .solid-navbar-brand img {
  width: 40px;
}

#navbar-brand img{
  width: 40px;
}
